/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Cardo", sans-serif;
}

/* Colors */
:root {
    --color-background: white;
    --color-default: black;
    --color-primary: #27a776;
    --color-secondary-2: #1617184c;
    --color-secondary: #161718;
    --color-border: rgb(34, 37, 41);
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    background-color: white;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #32cf93;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

/*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
.section-header {
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-default);
    font-family: var(--font-primary);
}

.section-header h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5bd9a9;
    margin: 4px 10px;
}

.section-header p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--color-default);
}

/*--------------------------------------------------------------
  # Page Header # DON"T TOUCH
  --------------------------------------------------------------*/
.page-header {
    padding: 120px 0 60px 0;
    min-height: 30vh;
    position: relative;
}

.page-header h2 {
    font-size: 56px;
    font-weight: 500;
    color: var(--color-default);
    font-family: var(--font-secondary);
}

@media (max-width: 768px) {
    .page-header h2 {
        font-size: 36px;
    }
}

.page-header p {
    color: var(--color-default);
}

.page-header .cta-btn {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
    background: var(--color-primary);
}

.page-header .cta-btn:hover {
    background: #2cbc85;
}

/*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.scroll-top:hover {
    background: rgba(39, 167, 118, 0.8);
    color: #fff;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 30px 0;
    background-color: var(--color-background);

}


.header .logo {
    transition: 0.3s;
}

.header .logo img {
    max-height: 40px;
    margin-right: 8px;
}

.header .logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
    color: var(--color-primary);
    font-family: var(--font-secondary);
}

.header .logo i {
    font-size: 32px;
    margin-right: 8px;
    line-height: 0;
}

@media (max-width: 575px) {
    .header .logo h1 {
        font-size: 26px;
    }

    .header .logo i {
        font-size: 24px;
    }
}

.header .header-social-links {
    padding-right: 15px;
}

.header .header-social-links a {
    color: var(--color-default);
    padding-left: 15px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 16px;
}

.header .header-social-links a:hover {
    color: var(--color-primary);
}

@media (max-width: 575px) {
    .header .header-social-links a {
        padding-left: 5px;
    }
}


/*--------------------------------------------------------------
  # Pricing Section


/*--------------------------------------------------------------
  # Gallery Single Section
  --------------------------------------------------------------*/
.gallery-single .portfolio-details-slider img {
    width: 100%;
}

.gallery-single .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.gallery-single .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

.gallery-single .swiper-button-prev,
.gallery-single .swiper-button-next {
    width: 48px;
    height: 48px;
}

.gallery-single .swiper-button-prev:after,
.gallery-single .swiper-button-next:after {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.gallery-single .swiper-button-prev:hover:after,
.gallery-single .swiper-button-next:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 575px) {

    .gallery-single .swiper-button-prev,
    .gallery-single .swiper-button-next {
        display: none;
    }
}

.gallery-single .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: var(--font-secondary);
}

.gallery-single .portfolio-info h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
}

.gallery-single .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.gallery-single .portfolio-info ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.gallery-single .portfolio-info ul strong {
    text-transform: uppercase;
    font-weight: 400;
    color: #6b7075;
    font-size: 14px;
}

.gallery-single .portfolio-info .btn-visit {
    padding: 8px 40px;
    background: #ffc439;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.gallery-single .portfolio-info .btn-visit:hover {
    background: #f4ce74;
}

.gallery-single .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    font-family: var(--font-secondary);
}

.gallery-single .portfolio-description p {
    padding: 0;
}

.gallery-single .portfolio-description .testimonial-item {
    padding: 30px 30px 0 30px;
    position: relative;
    background: var(--color-background);
    height: 100%;
    margin-bottom: 50px;
}

.gallery-single .portfolio-description .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid #2e3133;
    float: left;
    margin: 0 10px 0 0;
}

.gallery-single .portfolio-description .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px 0;
    padding-top: 20px;
}

.gallery-single .portfolio-description .testimonial-item h4 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

.gallery-single .portfolio-description .testimonial-item .quote-icon-left,
.gallery-single .portfolio-description .testimonial-item .quote-icon-right {
    color: #5bd9a9;
    font-size: 26px;
    line-height: 0;
}

.gallery-single .portfolio-description .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.gallery-single .portfolio-description .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
}

.gallery-single .portfolio-description .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 0 0 0;
    padding: 0;
}





/*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
.contact .info-item+.info-item {
    margin-top: 40px;
}

.contact .info-item i {
    font-size: 20px;
    color: var(--color-primary);
    float: left;
    width: 44px;
    height: 44px;
    background: var(--color-background);
    border: 1px solid var(--color-default);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}

.contact .info-item:hover i {
    background: var(--color-primary);
    border: none;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: var(--color-primary);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: var(--color-secondary);
    text-align: center;
    padding: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--color-primary);
    border-top-color: var(--color-secondary);
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    background-color: var(--color-background);
    border: 1px solid #2e3133;
    color: var(--color-default);
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: rgba(39, 167, 118, 0.8);
}


/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 30vh;
    background: var(--color-background);
    background-size: cover;
    position: relative;
    padding: 140px 0 60px 0;
}

.hero h2 {
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 700;
    color: var(--color-default);
    font-family: var(--font-secondary);
}

.hero h2 span {
    position: relative;
    z-index: 1;
    padding: 0 5px;
    display: inline-block;
}

.hero h2 span:before {
    content: "";
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-primary);
    z-index: -1;
}

.hero p {
    color: var(--color-default);
    margin-bottom: 30px;
    font-size: 18px;
}

.hero .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
    background: var(--color-primary);
}

.hero .btn-get-started:hover {
    background: #2cbc85;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
    margin-top: 30px;
    padding: 30px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.footer .credits {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

.footer .credits a {
    color: var(--color-primary);
}
